{% extends "base.html" %}

{% block content %}

{% block breadcrumb %}
<div class="breadcrumbs text-sm">
    <ul>
        <li><a href="{{ content::base_path() }}{% if lang != config.default_language%}{{ lang }}{% endif %}">Home</a></li>
        {% set current = section | default(value=page) %}
        {% for ancestor in current.ancestors %}
        {% if loop.first %}
        {% continue %}
        {% endif %}
        {% set section = get_section(path=ancestor) %}
        <li><a class="breadcrumb-path" href="{{ section.permalink }}">{{ section.title }}</a></li>
        {% endfor %}
        <li><a class="breadcrumb-path active" href="{{ current.permalink }}">{{ current.title }}</a></li>
    </ul>
</div>
{% endblock breadcrumb %}

<h1>{{ page.title}}</h1>

{# Metadata (date, authors, word count, read time, tags) #}
<div class="flex flex-wrap space-x-6 gap-y-2 pl-1 mb-4">
    {% if page.date %}
    <span class="flex items-center whitespace-nowrap">
        {{ content::icon(id="calendar", icons=icons) }}
        <span class=""><time datetime="{{ page.date }}">{{ page.date | date(format=i18n_user['language_date_format'] | default(value=i18n['language_date_format']), locale=i18n_user['language_locale'] | default(value=i18n['language_locale'])) }}</time></span>
    </span>
    {% endif %}

    {% if page.authors %}
    <span class="flex items-center whitespace-nowrap">
        {% if page.authors | length == 1 %}{{ content::icon(id="person", icons=icons) }}{% else %}{{ content::icon(id="people", icons=icons) }}{% endif %}
        <span>{{ page.authors | join(sep=", ") }}</span>
    </span>
    {% endif %}

    {# Show word count and read time only, if the metadata line is already visible anyways #}
    {% if page.date or page.authors or page.taxonomies | length > 0 %}
    <span class="flex items-center whitespace-nowrap">
        {{ content::icon(id="pencil", icons=icons) }}
        <span class="ml-1">{{ page.word_count }} {{ content::translate(value="words", i18n=i18n, i18n_user=i18n_user) }}</span>
    </span>
    <span class="flex items-center whitespace-nowrap">
        {{ content::icon(id="clock", icons=icons) }}
        <span class="ml-1">{{ page.reading_time }}
            {% if page.reading_time == 1 %}{{ content::translate(value="minute", i18n=i18n, i18n_user=i18n_user) }}{% else %}{{ content::translate(value="minutes", i18n=i18n, i18n_user=i18n_user) }}{% endif %}
        </span>
    </span>
    {% endif %}

    {# Show all taxonomy elements of the page as tags, if there are any #}
    {% if page.taxonomies | length > 0 %}
    {% for taxonomy, elements in page.taxonomies %}
    {% for element in elements %}
    <span class="flex items-center whitespace-nowrap">
        {{ content::icon(id="tag", icons=icons) }}
        <a href="{{ get_taxonomy_url(kind=taxonomy, name=element, lang=lang) }}" class="no-underline hover:underline">{{ content::translate(value=element, i18n=i18n, i18n_user=i18n_user) }}</a>
    </span>
    {% endfor %}
    {% endfor %}
    {% endif %}
</div>

{% block page_content %}
{{ page.content | safe }}
{% endblock %}


{% block page_footer %}
{% endblock %}

{% endblock %}
